doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title PrePos
		link(rel="stylesheet" href="assets/grid.css")
	body(desarrollo)
		header
		main
			br
			div(grupo)
				div(caja) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				div(caja) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
		footer